@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1764144606540') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e63a";
}

.icon-weibiaoti--:before {
  content: "\e60f";
}

